body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible{
    display: flex;
    height: 600px;
}
/* section 1 */

.half-width{
    box-sizing: border-box;
    width:40%;
    float: left;
    margin-left: 7%;
    padding:    0px 0px 0px 20px;
    
}
.header img{
    width: 80%;
}
h1{
    font-size: 50px;
}
#li1{
    margin: 7px 0px 40px 0px;
}
#li2{
    margin-bottom: 7px ;
}
.headline h1{
    font-family: 'DM Serif Display', serif;
    line-height:30px;
    font-size: 60px;
    letter-spacing: 4px;
    padding-left: 15px;
}
.headline{
    margin-top: 110px;
    margin-bottom: 20px;
    border-left: 4px solid rgb(250, 50, 14);
    border-radius: 5px;
    display: inline-block;
}
.color{
    color: #fa6a16;

}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg,rgb(241, 118, 96),rgb(250, 50, 14));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.anchor-button:hover{
    background: linear-gradient(to right,  rgb(241, 53, 20), rgb(233, 138, 122));
}

/* section 2 */


.my-mission  h1 {
    text-align: center;
    font-weight:bolder;
    font-family: "Rubik", sans-serif;
}
.mission-list{
    padding: 0px 150px;
}
.mission-list div h3{
    font-family: "Rubik", sans-serif;
    font-size: 25px;
}
.mission-list div img{
    width: 50%;
}
.mission-list div{
    box-sizing: border-box;
    width: 32%;
    height: 64%;
    padding: 30px 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #dfdddd;
}
.mission-list div:hover{

    box-shadow: -5px -5px 5px #c4c2c2; 
}
.mission{
    background-color: rgb(169, 219, 219);
}
.vission{
    background-color: rgb(210, 175, 243);
    margin-left: 20px;
}
.goals{
    background-color: #fff4d6;
    margin-left: 20px;
}

/* section 3 */

.developer-area div img{
    width: 80%;
    
}
.developer-area{
    background: url(images/shapes/shape-1.png) no-repeat ;
    background-size: 220px;
    background-position-x: 60px;
    background-position-y: 50px ;
    padding-left: 150px;
    float: left;

}
h2{
    font-family: "Rubik", sans-serif;
    font-size: 40px;
}
.div-area{
    margin: 0;
    padding: 0;
    width: 40%;
}
.clear{
    clear: both;
}
    /* section 4 */


.community div img{
    width: 80%;
    margin-left: 90px;
    
}
.community{
    background: url(images/shapes/shape-1.png) no-repeat right ;
    background-size: 200px;
    background-position-x: 1000px;
    background-position-y: 270px ;
    padding-left: 150px;
    float: right;

}

   /* section 5 */

.get-in-touch{
    padding: 30px 110px;
    background-color: rgb(106, 243, 236);
    margin: 0px 0px;
    margin: 20px 120px;
    height: 550px;
    border: 0px;
    border-radius: 35px;
    box-shadow: 10px 10px 10px #dfdddd;
}
.contact{
    margin:0px  150px;
    display: flex;
    flex-flow: column;
}
.id-pass{
    padding:20px 10px;
    border-radius: 15px;
    border: 0px;
    background-color: rgb(228, 208, 208);
    font-size: 20px;
}
.massage{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border: 0px;
    border-radius: 15px;
    background-color: rgb(228, 208, 208);
    font-size: 20px;
    resize: none;
}
button{
    display: inline;
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(241, 53, 20);
    color: white;
    font-weight: bold;

}
button:hover{
    background-color: tomato;
    box-shadow: 5px 5px 5px #dfdddd;
}
    /* footer */
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
footer h2{
    font-family: 'DM Serif Display', serif;
    margin: 0;
    padding-top: 20px;
}